* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container img {
    margin-bottom: 10px;
}
.content {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #b6b6b6be;
    border-radius: 4px;
    padding: 20px 60px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 20px 30px; */ 
}
.login-form h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;

}
.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.form-field input {
    width: 350px;
    height: 35px;
    border-radius: 4px;
    border: solid 1px #b6b6b6be;
    padding: 3px;
}
.form-field input:focus {
    outline: none;
}
.form-field a {
    text-decoration: none;
    color: #206bc4;
}
.password-options {
    display: flex;
    justify-content: space-between;
}

.login-button {
    width: 100%;
    height: 39px;
    border-radius: 4px;
    background-color: #065f9a;
    border: none;
    color: #fff;
}

.login-button:hover {
    background-color: #05304d;
    transition: .5s;
}
.divisor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}
hr {
    width: 100%;
}

.login-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px rgb(159, 159, 159);
    text-decoration: none;
    gap: 5px;
    padding: 3px;
    color: black;
}
.login-google:hover {
    border: solid 1px black;
    transition: .5s;
}
.container p {
    margin-top: 15px;
    text-align: center;
}
.container p a {
    text-decoration: none;
    color: #206bc4;
}
